<!doctype html>
<html>
    <link rel="stylesheet"
          type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css"/>
    <body>
        <section class="hero is-primary">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">Hello World App!</h1>
              <h2 class="subtitle">Yeah, it needs work</h2>
            </div>
          </div>
        </section>
        <section class="section">
            <div class="container content">
                {% block content %}{% endblock %}
            </div>
        </section>
    </body>
</html>